* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2 {
  text-align: center;
  color: white;
  font-size: 65px;
}
.main {
  background: url(/resources/bg.jpg) center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.inputs {
  height: 300px;
  width: 55%;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.inputs input {
  padding: 18px;
  height: 70px;
  width: 120px;
  border-radius: 10px;
  display: block;
  margin: 40px;
  text-align: center;
  font-size: 40px;
  border: none;
  outline: none;
}
label {
  font-size: 30px;
  color: wheat;
  font-weight: bold;
}
